<div class="row">
  <div class="col-sm-8">
    <%= render 'posts/list', posts: @posts %>
  </div>
  <div class="col-sm-4">
    <p class="h4"><%= @profile.full_name %></p>
    <p><%= @profile.username %></p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, unde? Cum eligendi iste dolorum! Corrupti provident eos necessitatibus qui quidem iusto optio quasi minus quisquam tenetur. Repellat perferendis ipsa expedita.</p>

    <p>Cake day: <%= @profile.created_at.strftime("%d/%m%Y") %></p>
  </div>
</div>
